.feed
{
	background-color:#f4f4f4;
	height:100%;
	position:fixed;
	top:0px;
	left:40%;
	width:100%;
	border-left:1px solid #bbbbbb;
	box-shadow: 0 0 20px #222;
}

.categories
{
	background-color:#606060;
	height:100%;
	position:fixed;
	top:0px;
	left:20%;
	width:100%;
	border-left:1px solid #aaaaaa;
	box-shadow: 0 0 20px #222;
}

.channels
{
	background-color:#2156a5;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	border-left:1px solid #999999;
	box-shadow: 0 0 20px #222;

}

.channelList
{
	margin:0px;
	padding:0px;
	list-style: none;
	overflow-x:hidden;
	overflow-y:auto; 
	font-family: Verdana;
	color: white;
	font-weight: 500;
}

.channelItem
{
	padding:10px;
	
}

.channelItemClickable
{
	cursor:pointer;
}

.channelItemSelected
{
	background-color:#606060;

}

.categoryItemSelected
{
	background-color:#3d3d3d;

}
.channelItemBorder
{
	border-bottom:1px solid #888888;

}
.channelItemHeading
{
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);	
	padding-bottom: 20px;
	font-weight:bold;
}


.closeBtn
{
	cursor: pointer;
	color:#606060;
	position:fixed;
	top:0px;
	left:100%;
	margin-left:-25px;
	width:30px;
	height:10px;
	padding-left:10px;
	padding-bottom:10px;
	font-weight: 100;
}

.plusSymbol
{
	font-weight:bold;
	color:#ffffff;
	font-size:20px;
	margin-left:10px;
	cursor:pointer;
	text-decoration:none;
}

.plusSymbol:hover
{
	font-weight:bold;
	color:#ffffff;
	font-size:20px;
	margin-left:10px;
	cursor:pointer;
	text-decoration:none;
}