.feed
{
	background-color:#cccccc;
	height:100%;
	position:fixed;
	top:0px;
	left:40%;
	width:100%;
	border-left:1px solid #bbbbbb;
	box-shadow: 0 0 20px #222;
}

.categories
{
	background-color:#bbbbbb;
	height:100%;
	position:fixed;
	top:0px;
	left:20%;
	width:100%;
	border-left:1px solid #aaaaaa;
	box-shadow: 0 0 20px #222;
}

.channels
{
	background-color:#aaaaaa;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	border-left:1px solid #999999;
	box-shadow: 0 0 20px #222;

}

.channelList
{
	margin:0px;
	padding:0px;
	list-style: none;
	overflow-x:hidden;
	overflow-y:auto; 
	font-family: Verdana;
	color: whitesmoke;
	font-weight: 500;
}

.channelItem
{
	padding:10px;

}

.channelItemSelected
{
	background-color: #999999;

}

.channelItemBorder
{
	border-bottom:1px solid #888888;

}
.channelItemHeading
{
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);	
	padding-bottom: 20px;
}


.closeBtn
{
	cursor: pointer;
	color:#efefef;
	position:fixed;
	top:0px;
	left:100%;
	margin-left:-25px;
	width:30px;
	height:10px;
	padding-left:10px;
	padding-bottom:10px;
	font-weight: bold;
}

