.feed
{
	background-color:#f4f4f4;
	height:100%;
	position:fixed;
	top:0px;
	left:0%;
	width:100%;
	border-left:1px solid #bbbbbb;
	box-shadow: 0 0 20px #222;
	overflow-x:hidden;
	overflow-y:auto;
}

.categories
{
	background-color:#606060;
	height:100%;
	position:fixed;
	top:0px;
	left:0%;
	width:20%;
	border-left:1px solid #aaaaaa;
	box-shadow: 0 0 20px #222;
	overflow-x:hidden;
	overflow-y:auto;
}

.channels
{
	background-color:#5a8fe1;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	width:20%;
	border-left:1px solid #999999;
	box-shadow: 0 0 20px #222;
	overflow-x:hidden;
	overflow-y:auto;

}

.channelList
{
	margin:0px;
	padding:0px;
	list-style: none;
	overflow-x:hidden;
	overflow-y:auto; 
	font-family: Verdana;
	color: white;
	font-weight: 500;
}

.channelItem
{
	padding:10px;
	
}

.channelItemClickable
{
	cursor:pointer;
}

.channelItemSelected
{
	background-color:#606060;

}

.categoryItemSelected
{
	background-color:#3d3d3d;

}
.channelItemBorder
{
	border-bottom:1px solid #888888;

}
.channelItemHeading
{
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);	
	padding-bottom: 20px;
	font-weight:bold;
}

.breadCrumb
{
	background-color:#61df92;		
	height:30px;
	padding:0px;
	color:#444;
	font-weight:bold;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	cursor:pointer;
	text-decoration:none;
	position:fixed;
	top:0px;
	left:0%;
	box-shadow: 2px 3px 4px #bbb;
	border-bottom:1px solid #22ae59;
	border-right:1px solid #22ae59;
	border-left:1px solid #22ae59;
	padding-bottom:22px;
	
}

.breadCrumb span
{
	padding:5px;
	color: #33090b;
	margin-right: 5px;
	margin-left: 5px;
}

.feedListing
{
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:35px;
	width:97%;
}

.feedListing li
{
	width:100%;
	background-color:white;
	color:#999999;
	padding:10px;
	margin:10px;
	/*border-left: 10px solid rgba(255,0,0,0.5);*/
	border-bottom: 1px solid #bbb;
	box-shadow: 2px 3px 5px #999;
}

.feedItemTitle
{
	color:#000;
	font-family:Verdana;
	font-weight:bold;
	cursor: pointer;
}

.feedItemDescription
{
	background-color:#eeeeee;
	color:#444;
	margin:5px;
	padding:10px;
	font-family: Tahoma;
	box-shadow: 2px 3px 4px #bbb;
	
}

.loadingIcon
{
	position:fixed;
	top: 0px;
	left: 32%;
	width:32px;
	height: 32px;
}

.webViewScreen
{
	width: 100%;
	height:100%;
	background-color: #999999;
	position: fixed;
	top: 0px;
	left: 0px;

}

.webViewCloseBtn 
{
	padding:5px;
	position: fixed;
	top: 0px;
	left: 90%;
	margin:0px;
	color: white;
	font-weight: bold;
}

.webviewContainer
{
	width:90%;
	height:90%;
	position: fixed;
	top: 5%;
	left: 5%;
	
}

.feedRefresh
{
	cursor:pointer;
}

.newsFeedRefresh
{
	position: absolute;
	top: 5px;
	left: 85%;
	color:#444;
	font-weight:bold;
}


.loadingScreen
{
	width:100%;
	height:100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #efefef;
	opacity: 0.3;
	display: none;
}

.loadingScreen img
{
	position: fixed;
	top: 50%;
	left: 50%;
}

.viewInBrowser
{
	margin-left: 21px;
	color: crimson;
	font-size: 11px;
	font-weight: bold;
}